/* RESET BASIC STYLE  */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}
/* MY VARIABLES */

:root {
  --background-color: rgba(70, 70, 70, 0.5);
  --primary-color-white: rgb(255, 255, 255);
  --primary-color-black: rgb(35, 35, 35);
  --neon-color: rgb(235, 78, 104);
  --error-border: rgb(255, 0, 0);
  --error-msg: rgb(136, 18, 18);
  --header-background-color: rgb(136, 136, 136);
  --table-row-color: rgb(221, 221, 221);
  --scrollbar-color: rgba(0, 0, 0, 0.2);
  --fs-basic: 1.6rem;
  --fs-medium: 2.5rem;
}

/* UTILITIES CLASSES */
.app {
  background-color: var(--background-color);
  font-family: "Open Sans", sans-serif;
  font-size: var(--fs-basic);
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1400px;
}
.stretched {
  width: 100%;
  height: 100%;
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}
.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: var(--neon-color);
  animation: rotate 2s infinite linear;
}
.hidden {
  display: none !important;
}
.appear-animation {
  animation: appear 1s linear;
}
/* MY CLASSES */

/* COMPONENT HEADER */
header {
  border-bottom: 5px solid var(--primary-color-white);
}
.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 25px;
  height: 20%;
}
.header__bnt {
  margin: 10px;
  flex: 1 1 0px;
  transition: border 0.3s linear;
}
.header__logged {
  font-weight: bold;
  padding: 10px 0;
  margin: 10px;
  cursor: default;
  align-self: center;
}
.header__bnt:hover {
  border: 1px solid var(--neon-color);
}
.header--jc-flex-end {
  justify-content: flex-end;
}

.toggle {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: var(--primary-color-black);
  /* cursor: pointer; */
}

.toggle__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border: none;
  border-radius: 50%;
  transform: scale(0.8);
  transition: transform 300ms ease-in;
  font-weight: bold;
  cursor: pointer;
}
.toggle__indicator.EN {
  transform: translateX(100%) scale(0.8);
}

/* COMPONENT BUTTON */
.bnt {
  background-color: var(--primary-color-black);
  border: 1px solid var(--primary-color-black);
  color: var(--primary-color-white);
  cursor: pointer;
  letter-spacing: 1px;
  padding: 20px 40px;
  text-transform: lowercase;
  max-width: 20rem;
}
.bnt::first-letter {
  text-transform: uppercase;
}
.bnt--search {
  padding: 4px 6px;
  border-radius: 50%;
}
/* Main Content */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 80%;
  overflow: hidden;
}

/* FORMS */
.form {
  display: grid;
  align-items: flex-start;
  grid-template-columns: minmax(0, auto) minmax(0, 400px);
  gap: 10px;
}
.form__item {
  width: 100%;
}
.form__item--sign-in,
.form__item--sign-up {
  grid-column: 2 / -1;
}

/* errors for forms */
.error {
  color: var(--error-msg);
  text-align: center;
}
.form__item--error {
  border: 2px solid var(--error-border);
}
/* CHARTS */
.graphs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  margin-bottom: 5px;
}
.carousel {
  overflow: hidden;
  touch-action: none;
}
.carousel__slider {
  position: relative;
  list-style: none;
  transition: transform 500ms ease-in;
}

.carousel__slide {
  position: absolute;
  right: 0;
}

.chart__box {
  position: relative;
}
.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.carousel__dot {
  width: 14px;
  height: 14px;
  background-color: var(--primary-color-white);
  border: 0;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}
.carousel__dot.current-dot {
  background-color: var(--primary-color-black);
}

/* main content TABLE */
/* style for scrollbar browsers expect Firefox*/
.transactions::-webkit-scrollbar {
  width: 5px;
}
.transactions::-webkit-scrollbar-track {
  background-color: var(--primary-color-white);
}
.transactions::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}
.transactions {
  width: 100%;
  height: 50%;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid var(--primary-color-black);
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.table .table--tname {
  text-align: center;
  font-size: var(--fs-medium);
}
.table thead th {
  background-color: var(--header-background-color);
}
.table tr {
  background-color: var(--primary-color-white);
}
.table td,
.table th {
  padding: 8px 6px;
  text-align: start;
}
.tr__date {
  border-top: 1px solid var(--primary-color-black);
}
.table td span {
  font-weight: bold;
}
.icon--svg {
  width: 24px;
  height: 24px;
}
.table .table__tr--expandable {
  cursor: pointer;
  background-color: var(--table-row-color);
}
.table .table__tr--expanded {
  display: none;
}
.table__tr--expanded.showRow {
  display: table-row;
}

/* TABLE FILTR AND SEARCH */

#table__filtr {
  cursor: pointer;
  padding: 10px 0px;
  border-radius: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  width: clamp(130px, 50%, 300px);
}
.table__search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.table__search form {
  display: flex;
  padding: 10px 15px;
  width: clamp(130px, 80%, 300px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 60px;
}
.table__search label {
  align-self: center;
}
#table__search--input {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-color-black);
  width: 100%;
  margin-right: 3px;
}
#table__search--input:focus {
  outline: 1px solid var(--primary-color-black);
  border-bottom: 2px solid var(--neon-color);
  caret-color: var(--neon-color);
}
.bnt--search svg {
  fill: var(--primary-color-white);
  width: 24px;
  height: 24px;
}
@media (min-width: 576px) {
  .main {
    padding: 10px 25px;
  }
  .form {
    gap: 20px;
  }
  .form__item {
    padding: 15px 10px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header {
    padding: 20px 50px;
  }
  .main {
    padding: 20px 50px;
  }

  .table tr:nth-child(even) {
    background-color: var(--table-row-color);
  }

  .graphs {
    flex-direction: row;
  }
  .chart__box {
    width: 50%;
  }
}

/* ANIMATIONS */
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes appear {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  50% {
    transform: translateY(10%);
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
